.container {
  margin: 10px;
  text-align: center;
  background-color: blueviolet;
  display: flex;

  .title {
    margin-left: 10px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}
